
<h1 class="banner">Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<form action="/answer" class="row justify-content-center">

  <input type="text" name="question" class="col-10" placeholder="Question for your coach">
  <input type="submit" value="Ask!" class="btn btn-primary col-2">
</form>

